{#
/**
 * @file
 * Template for Navbar component.
 *
 * Available config:
 * - navbar_container_type: false | sm | md | lg | xl | xxl | fluid
 * - placement: default | fixed-top | fixed-bottom | sticky-top
 * - navbar_expand: sm | md | lg | xl | false
 * - navbar_theme: dark | light (default: light)
 * - navbar_utility_classes: An array of utility classes.
 *
 * Available blocks:
 * - branding
 * - left
 * - right
 */
#}
{% apply spaceless %}

{% set nav_attributes = nav_attributes ?: create_attribute() %}
{% set navbar_container_attributes = navbar_container_attributes ?: create_attribute() %}

{% set placement = placement ?? '' %}
{% set navbar_expand = navbar_expand ?? 'lg' %}
{% set navbar_theme = navbar_theme ?? null %}

{%
  set navbar_container_classes = [
    navbar_container_type is null ? 'container' : '',
    navbar_container_type ? 'container' ~ (navbar_container_type ? '-' ~ navbar_container_type : '') : '',
  ]|merge(navbar_container_utility_classes ?: [])
%}

{%
  set nav_classes = [
    'navbar',
    navbar_expand ? 'navbar-expand-' ~ navbar_expand : '',
    placement,
  ]|merge(navbar_utility_classes ?: [])
%}

{% if navbar_theme %}
  {% set nav_attributes = nav_attributes.setAttribute('data-bs-theme', navbar_theme) %}
{% endif %}

<nav {{ nav_attributes.addClass(nav_classes).setAttribute('id','main-nav-bar') }}>
  <div {{ navbar_container_attributes.addClass(navbar_container_classes) }}>
    {% block branding %}
      {{ branding }}
    {% endblock %}
    {% block navbar_toggler %}
      <button class="navbar-toggler collapsed ms-auto" type="button" data-bs-toggle="offcanvas" data-bs-target="#menu-nav" aria-controls="menu-nav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon">
          <svg
            width="48"
            height="48"
            viewBox="0 0 48 48"
            id="icon-menu-expand"
            xmlns="http://www.w3.org/2000/svg"
            >
    <rect class="svg-icon-step4"
          id="step4"
          width="37.296165"
          height="4.1811848"
          x="5.3519173"
          y="35.790939" />
    <rect class="svg-icon-step3"
          id="step3"
          width="37.296165"
          height="4.1811848"
          x="5.3519173"
          y="5.3205576" />
    <rect class="svg-icon-vertical1"
          id="vertical1"
          width="37.296165"
          height="4.1811848"
          x="5.3519173"
          y="10.181185" />
    <rect class="svg-icon-vertical2"
          id="vertical2"
          width="37.296165"
          height="4.1811848"
          x="5.3519173"
          y="20.303135" />
            <polygon class="svg-icon-handle"
                   id="handle"
                      points="2,0 6,2 14,40 0,40"
             />
    <rect class="svg-icon-vertical3"
          id="vertical3"
          width="37.296165"
          height="4.1811848"
          x="5.3519173"
          y="30.425087" />
    <rect class="svg-icon-step2"
          id="step2"
          width="37.296165"
          height="4.1811848"
          x="5.3519173"
          y="15.477351" />
    <rect class="svg-icon-step1"
          id="step1"
          width="37.296165"
          height="4.1811848"
          x="5.3519173"
          y="25.634146" />
</svg>
        </span>
      </button>
      <button class="navbar-toggler collapsed ms-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#search-nav" aria-controls="search-nav" aria-expanded="false" aria-label="Toggle Search">
        <span class="navbar-toggler-icon">
          <svg
            width="48"
            height="48"
            viewBox="0 0 48 48"
            id="svg1"
            xmlns="http://www.w3.org/2000/svg">
    <ellipse
      class="svg-search-circle-hidden"
      style="fill:none;fill-opacity:1;stroke:none;stroke-width:4.5;stroke-linecap:round;stroke-linejoin:bevel;stroke-dasharray:none;stroke-opacity:1;font-variation-settings:normal;opacity:1;vector-effect:none;stroke-miterlimit:4;stroke-dashoffset:0;-inkscape-stroke:none;stop-color:#000000;stop-opacity:1"
      id="svg-search-circle-hidden"
      cx="22.905924"
      cy="22.738676"
      rx="13.547038"
      ry="13.296166"
      transform="translate(-1.955754,-0.39022701)" />
    <ellipse
      class="svg-search-circle-hidden"
      style="fill:none;fill-opacity:1;stroke:none;stroke-width:4.5;stroke-linecap:round;stroke-linejoin:bevel;stroke-dasharray:none;stroke-opacity:1"
      id="svg-search-circle-hidden-2"
      cx="20.950171"
      cy="22.34845"
      rx="13.547038"
      ry="13.296166"
     />
    <rect
      class="svg-search-handle"
      id="svg-search-handle"
      width="15.052406"
      height="4.2919087"
      x="43.79837"
      y="-1.1423246"
      transform="rotate(43.564195,-0.48961604,-2.6421976)"
    />
    <ellipse
      class="svg-search-circle"
      id="svg-search-circle"
      cx="22.905924"
      cy="22.738676"
      rx="13.547038"
      ry="13.296166"
      transform="translate(-1.955754,-0.39022701)" />
</svg>
        </span>
      </button>
    {% endblock %}
    <div id="menu-nav" class="offcanvas offcanvas-top bg-blue {# collapse navbar-collapse #} align-self-start justify-content-between">
      <div class="container">
        <div class="offcanvas-header"><button type="button" class="btn-close text-primary" data-bs-dismiss="offcanvas" aria-label="Close"></button></div>
      {% block left %}
        {{ left }}
      {% endblock %}
      {% block right %}
        {{ right }}
      {% endblock %}
      </div>
    </div>
    <div id="search-nav" class="offcanvas offcanvas-top bg-white align-items-center align-self-start">
      <div class="container">
        <div class="offcanvas-header"><button type="button" class="btn-close text-primary" data-bs-dismiss="offcanvas" aria-label="Close"></button></div>
      {% block bottom %}
        {{ bottom }}
      {% endblock %}
      </div>
    </div>
  </div>
</nav>

{% endapply %}
